.background {
	canvas {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

	}

	.overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background:$overlay-bg;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		@include transition-property(opacity);
		@include transition-duration(0.4s);
		opacity:1;
		&.hide {
			opacity:0;
		}
	}
}