.btn {
	position: absolute;
	display: block;
	height:50px;
	cursor: pointer;
	color:$green;
	background: rgba(0,0,0,0);
	.circle {
		width:50px;
		height:50px;
		@include border-radius(50px);
		border:$border solid $green;
		position: absolute;
		left:0;
		top:0;
		z-index:2;
	}
	i {
		font-size:17px;
		position: absolute;
		line-height: 50px;
		text-align: center;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.text {
		position: absolute;
		left:68px;
		right:0;
		top:15px;
		text-transform: uppercase;
		font-family: $font-bold;
		font-size:13px;
		line-height: 1.2;
	}
	&:hover {
		.circle {
			border:$border-big solid $green;
			margin-left:-4px;
			margin-top:-4px;
		}
	}
}