.ControlsView {
	color:white;
	position: absolute;
	width:208px;
	height:104px;
	left:50%;
	bottom:20px;
	margin-left:-124px;
	text-align:center;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	@include transition-property(transform, -webkit-transform, -moz-transform, -ms-transform, -o-transform);
	@include transition-duration(0.4s);
	@include transition-delay(0.3s);
	@include transition-timing-function($easing-back-out);
	.prev, .next {
		position: absolute;
		display: inline-block;
		width:104px;
		height:104px;
		box-sizing:border-box;
		cursor:pointer;
		margin:auto;
		opacity:1;
		@include transition-property(opacity, transform, -webkit-transform, -moz-transform, -ms-transform, -o-transform);
		@include transition-duration(0.4s);
		@include transition-timing-function($easing);
		.prev-circle {
			line-height:1.2em;
		}
	}
	.prev {
		left:0px;
		cursor: pointer;
		@include transition-delay(0.1s);
		.btn-text {
			left:34px;
			font-size:18px;
		}
	}
	.next {
		left:104px;
	}
	.prev-circle {
		position: absolute;
		width:50px;
		height:50px;
		@include border-radius(50px);
		left:50%;
		top:50%;
		margin-left:-7px;
		margin-top:-27px;
		border:2px solid #fff;
		z-index:1;
		background:rgba(0,0,0,0);
		// 		@include transition-property(border, margin-left, margin-top);
		// @include transition-duration(0.1s);
	}
	.btn-text {
		text-transform: uppercase;
		font-family:$font-bold;
		font-size:13px;
		position: absolute;
		left:0;
		right:0;
		text-align: center;
		height:20px;
		line-height:20px;
		top:50%;
		margin-top:-10px;
	}
	.loading-circle {
		width:104px;
		height:104px;
		position: absolute;
		// z-index: -1;
		left:0;
		top:0;
	}
	.udforsk {
		display: none;
	}
	.next-icon {
		display: none;
		left:0;
		font-size:18px;
		right:38px;
	}
	&.first-section {
		.prev {
			opacity:0;
			-webkit-transform:translateX(-104px);
			-moz-transform:translateX(-104px);
			-ms-transform:translateX(-104px);
			-o-transform:translateX(-104px);
			transform:translateX(-104px);
		}
		.next {
			-webkit-transform:translateX(-33px);
			-moz-transform:translateX(-33px);
			-ms-transform:translateX(-33px);
			-o-transform:translateX(-33px);
			transform:translateX(-33px);
		}
		.udforsk {
			display: block;
		}
		.fortsaet{
			display: none;
		}
	}
	&.last-section {
		.prev {
			-webkit-transform:translateX(53px);
			-moz-transform:translateX(53px);
			-ms-transform:translateX(53px);
			-o-transform:translateX(53px);
			transform:translateX(53px);
		}
		.next {
			cursor: none;
			opacity:0;
			-webkit-transform:translateX(104px);
			-moz-transform:translateX(104px);
			-ms-transform:translateX(104px);
			-o-transform:translateX(104px);
			transform:translateX(104px);
		}
	}
	&.animating {
		-webkit-transform:translateY(125px);
		-moz-transform:translateY(125px);
		-ms-transform:translateY(125px);
		-o-transform:translateY(125px);
		transform:translateY(125px);
	}
}

.no-touch .ControlsView {
	.prev {
		&:hover {
			.prev-circle {
				border:5px solid #fff;
				margin-left:-11px;
				margin-top:-30px;
			}
		}
	}
}

@media screen and ( max-height: 696px ){
	.ControlsView {
		margin-left:-105px;
		bottom:0px;
		.udforsk {
			display: none !important;
		}
		.fortsaet{
			display: none !important;
		}
		.next-icon {
			display: block;
		}
	}
}