.ControlsView {
	color:white;
	position: fixed;
	width:208px;
	height:104px;
	left:50%;
	bottom:20px;
	margin-left:-100px;
	text-align:center;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	@include transition-property(opacity);
	@include transition-duration(0.3s);
	.prev, .next {
		position: absolute;
		display: inline-block;
		width:104px;
		height:104px;
		box-sizing:border-box;
		cursor:pointer;
		margin:auto;
		opacity:1;
		@include transition-property(opacity, transform, -webkit-transform, -moz-transform, -ms-transform, -o-transform);
		@include transition-duration(0.4s);
		@include transition-timing-function($easing);
	}
	.prev {
		left:0px;
		@include transition-delay(0.1s);
		&:hover .prev-circle {
			border:5px solid #fff;
			margin-left:-30px;
			margin-top:-30px;
		}
	}
	.next {
		left:104px;
	}
	.prev-circle {
		position: absolute;
		width:50px;
		height:50px;
		@include border-radius(50px);
		left:50%;
		top:50%;
		margin-left:-27px;
		margin-top:-27px;
		border:2px solid #fff;
		// 		@include transition-property(border, margin-left, margin-top);
		// @include transition-duration(0.1s);
	}
	.btn-text {
		text-transform: uppercase;
		font-family:$font-bold;
		font-size:13px;
		position: absolute;
		left:0;
		right:0;
		text-align: center;
		height:20px;
		line-height:20px;
		top:50%;
		margin-top:-10px;
	}
	.loading-circle {
		width:104px;
		height:104px;
		position: absolute;
		z-index: -1;
		left:0;
		top:0;
	}
	.udforsk {
		display: none;
	}
	&.first-section {
		.prev {
			opacity:0;
			-webkit-transform:translateX(-104px);
			-moz-transform:translateX(-104px);
			-ms-transform:translateX(-104px);
			-o-transform:translateX(-104px);
			transform:translateX(-104px);
		}
		.next {
			-webkit-transform:translateX(-5px);
			-moz-transform:translateX(-5px);
			-ms-transform:translateX(-5px);
			-o-transform:translateX(-5px);
			transform:translateX(-5px);
		}
		.udforsk {
			display: block;
		}
		.fortsaet{
			display: none;
		}
	}
	&.last-section {
		.prev {
			-webkit-transform:translateX(52px);
			-moz-transform:translateX(52px);
			-ms-transform:translateX(52px);
			-o-transform:translateX(52px);
			transform:translateX(52px);
		}
		.next {
			opacity:0;
			-webkit-transform:translateX(-104px);
			-moz-transform:translateX(-104px);
			-ms-transform:translateX(-104px);
			-o-transform:translateX(-104px);
			transform:translateX(-104px);
		}
	}
	&.animating {
		opacity:0.2;
	}
}
.ie9 {
	.ControlsView {
		&.first-section {
			.prev {
				left:-104px !important;
			}
			.next {
				left:52px !important;
			}
		}
	}
}