.SectionIntroView {
	padding-top:50px;
	text-align:center;
	img {
		margin:auto;
		display: block;
	}
	p {
		width:532px;
		font-size: 18px;
		color: white;
		text-align:center;
		margin:auto;
		margin-top:50px;
	}
}