<div class="page">
	<div class="push-wrapper">
		<div class="background">
		</div>
		<div class="content">
		</div>
		<div class="controls">
		</div>
		<div class="logo">
		</div>
		<div class="progress"></div>
		<div class="menu-toggle-btn">
			<i class="icon-menu"></i>
			<i class="icon-close-small"></i>
		</div>
		<a href="fil.pdf" target="_blank" class="btn-download-pdf">Download årsberetning</a>
	</div>
	<div class="menu">
	</div>
</div>
<div class="modal">
	<div class="inner"></div>
	<div class="close-btn"><i class="icon-close-large"></i></div>
</div>
<div class="portrait-overlay"></div>