.content {
	width:933px;
	height:500px;
	position: fixed;
	left:50%;
	top:50%;
	margin-top:-250px;
	margin-left:-466px;
	background:rgba(255,255,255,0.4);
	// display: none;

	&.show {
		display: block;
	}
}