$font: 'graublau_sansregular', sans-serif, Helvetica, Verdana;
$font-bold: 'graublau_sans_boldregular', sans-serif, Helvetica, Verdana;
$font-italic: 'graublau_sansitalic', sans-serif, Helvetica, Verdana;

$base-font-size: 100%;
$base-line-height: 1.5;

$spacing: 15px;

//OVERLAY
$overlay-color: #000A28;
$overlay-bg: rgba($overlay-color,0.85);